<h1>Ask a question</h1>
<div class "container">
  <form action="/answer">
  <p>Ask your coach anything</p>
  <input type="text" name="question" placeholder="what time is it?">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
